body {
  margin: 0;
  font-family: 'Roboto Slab';
  background-color: #ffe7d5;
  text-align: center;
}

main {
  padding-bottom: 10px;
}

h1 {
  font-family: 'Ruda';;
  font-size: 48px;
  padding: 10px;
  color: #082213;
}

#image {
  width: 95%;
  max-width: 666px;
  background-color: white;
  padding: 15px 15px 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
}

div {
  width: 75%;
  margin: 2% auto;
}


div p {
  width: 75%;
  min-width: 300px;
  max-width: 666px;
  margin: 0 auto;
  padding: 10px 20px 10px 10px;
  font-size: 20px;
  text-align: justify;
  color: #211931;
  line-height: 1.5;
  text-indent: 35px;
  letter-spacing: 0.3px;
}

.link {
  text-indent: 0;
  text-align: center;
  padding: 20px 20px 20px 10px;
}

.link a:hover {
  text-decoration: none;
  color: blue;
}

footer {
  position:fixed;
  width: 100%;
  bottom: 0px;
  background-color: #66C3D1;
}

footer p {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  color: white;
  margin: 0;
  padding: 5px 0;
}